<div class="container">
    <div class="row">
        <div class="col">
            <figure class="figure">
              <img src="../../assets/img/laboratorioVeterinario.jpg" class="figure-img img-fluid rounded" alt="...">
              </figure>
            
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>LABORATORIO CLINICO</b></div>
            <p>En Carepet, contamos con equipos de laboratorio modernos, para ofrecer un complemento al cuerpo médico, con resultados confiables y de calidad, igualmente nos permite obtener resultados para su mascota de manera rápida y oportuna de las pruebas más relevantes, sin necesidad de esperar días. Todo esto ayudando a su mascota a tener una atención médica en tiempo real.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/medicinaFelina.jpg" class="figure-img img-fluid rounded" alt="...">
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>MEDICINA FELINA</b></div>
            <p>Contamos con un área exclusiva para la atención de su mascota, un área ambientada para que tu gatito se encuentre relajado en un ambiente ameno, diseñado exclusivamente para tu felino. 
            Adicionalmente, y en caso de ser necesario, contamos con una área de hospitalización felina exclusiva, en donde podemos ofrecer un ambiente agradable para la estadía de su felino mientras nuestro equipo de trabajo, hace todo para su pronto regreso a casa. </p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/hospitalización.jpg" class="figure-img img-fluid rounded" alt="...">
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>HOSPITALIZACIÓN</b></div>
            <p>En Carepet, contamos con instalaciones de hospitalización diferenciada por especie, un área para caninos y otra para felinos. Contamos con equipo técnico y humano óptimo, que nos da la seguridad de atender a su mascota adecuadamente, en un ambiente sano y óptimo, lo que nos lleva a tener pocos tiempos de hospitalización con una pronta recuperación.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/urgencias.jpg" class="figure-img img-fluid rounded" alt="...">
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>URGENCIAS</b></div>
            <p>Carepet cuenta con áreas de atención de urgencias, se cuenta con equipos e insumos para estos fines.  Y prestamos servicio 24/7, nuestros médicos y auxiliares  emplean protocolos aceptados en la atención de urgencias veterinarias.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/medicinaGeneral.jpg" class="figure-img img-fluid rounded" alt="...">
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>MEDICINA GENERAL Y PREVENTIVA</b></div>
            <p>Ofrecemos todos los servicios que su mascota necesita, exámenes físicos completos, programas estratégicos de vacunación y desparasitación, medicina juvenil, medicina geriátrica. Igualmente ofrecemos servicios de medicina especializada oftalmológica, dermatológica, oncológica, ortopédica y control de dolor. Servicios de cirugía general y especializada, cirugía ortopédica, Hospitalización, imágenes diagnósticas (ecografía, radiografía, endoscopia),  medicina integral felina (consulta, hospitalización, cirugía, etc)</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <img src="../../assets/img/cirugiaGeneral.jpg" class="figure-img img-fluid rounded" alt="...">
        </div>
        <div class="col">
            <div class="p-3 bg-light border"><b>CIRUGÍA GENERAL Y ORTOPÉDICA</b></div>
            <br>
            <p>En Carepet, contamos con un quirófano moderno, adecuado con los implementos y equipos ideales para un adecuado manejo anestésico. Igualmente, contamos con equipo médico quirúrgico con más de 20 años de experiencia y en constante capacitación, que le da la tranquilidad y garantía de tener a su mascota en las mejores manos.</p>
        </div>
    </div>

</div>
