<div class="container">
  <div class="row slider">
    <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img/slide/1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/slide/2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/img/slide/3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row side1">
    <h1 class="display-6">Carepet Centro Veterinario</h1>
    <div class="col">
      <div class="row ">
        <div class="col">
          <p class="lead" >
            Para nosotros es importante la salud y el bienestar de su mascota, por ello prestamos un servicio clínico y médico de calidad pensando en usted y su mascota como parte de la familia.
          </p>
        </div>
      </div>
      <br>
      <div class="row ">
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Medicina Felina
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Medicina General Y Preventiva
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Cirugía General y ortopedica
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Vacunación
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Hospitalización
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="wrapper">
            <div class="one">
              <figure class="figure ">
                <img src="../../assets/img/pet.png" class="figure-img imgside1 img-fluid rounded" alt="...">
              </figure>
            </div>
            <div class="two">
              <p class="lead1" >
                Oncología
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <figure class="figure">
        <img src="../../assets/img/sidePet.jpg" class="figure-img imgside img-fluid rounded" alt="...">
      </figure>
    </div>
  </div>
  <div class="row side2">
    <h1 class="display-6 txtSide2">Nuestros Servicios</h1>
    <div class="col">
      <div class="row">
        <div class="wrapperServicio">
          <div class="imgOne">
            <figure class="figure ">
              <img src="../../assets/img/S1.jpg" class="figure-img imgside2 img-fluid rounded" alt="...">
              <p class="lead2" >
                Cirugía General y ortopedica
              </p>
            </figure>
          </div>
          <div class="imgTwo">
            <figure class="figure ">
              <img src="../../assets/img/S2.jpg" class="figure-img imgside2 img-fluid rounded" alt="...">
              <p class="lead2" >
                Cirugía General y ortopedica
              </p>
            </figure>
          </div>
          <div class="imgThre">
            <figure class="figure ">
              <img src="../../assets/img/S3.jpg" class="figure-img imgside2 img-fluid rounded" alt="...">
              <p class="lead2" >
                Cirugía General y ortopedica
              </p>
            </figure>
          </div>
        </div>
      <div>
    </div>
    <div class="row">
      <button class="btn" (click)="servicio()"><b>Ver Más Servicios</b></button>
    </div>
  </div>
</div>